<div class="results">
  <table>
    <tr>
      <th>Dungeon</th>
      <th>Avg score</th>
      <th>Good items</th>
      <th>Head</th>
      <th>Neck</th>
      <th>Shoulder</th>
      <th>Chest</th>
      <th>Waist</th>
      <th>Legs</th>
      <th>Feet</th>
      <th>Wrist</th>
      <th>Hands</th>
      <th>Finger</th>
      <th>Trinket</th>
      <th>Back</th>
    </tr>
    <tr>
      <td>Court of Stars</td>
      <td>567</td>
      <td>75%<br><small>11 out of 12</small></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <img src="//wow.zamimg.com/images/wow/icons/medium/inv_scroll_09.jpg" alt="Infernal Writ" class="best">
        <img src="//wow.zamimg.com/images/wow/icons/medium/inv_scroll_09.jpg" alt="Infernal Writ">
        <img src="//wow.zamimg.com/images/wow/icons/medium/inv_alchemy_crystalvial.jpg" alt="MythicFlask of the Solemn Nigh" class="low">
      </td>
      <td>
        <img src="//wow.zamimg.com/images/wow/icons/medium/inv_cape_leather_legiondungeon_c_01.jpg" alt="Cape of the Duskwatch">
      </td>
    </tr>
  </table>
</div>
